@import './variables.scss';

// Berlin
#line-mietpreis-Berlin {
    stroke: $immopreis-color;
}
#line-leerstand-Berlin {
    stroke: $immopreis-color;
}
#line-immopreis-Berlin {
    stroke: $immopreis-color;
}
// Dortmund
#line-mietpreis-Dortmund {
    stroke: $immopreis-color;
}
#line-leerstand-Dortmund {
    stroke: $immopreis-color;
}
#line-immopreis-Dortmund {
    stroke: $immopreis-color;
}
// Duesseldorf
#line-mietpreis-Duesseldorf {
    stroke: $immopreis-color;
}
#line-leerstand-Duesseldorf {
    stroke: $immopreis-color;
}
#line-immopreis-Duesseldorf {
    stroke: $immopreis-color;
}
// Frankfurt
#line-mietpreis-Frankfurt {
    stroke: $immopreis-color;
}
#line-leerstand-Frankfurt {
    stroke: $immopreis-color;
}
#line-immopreis-Frankfurt {
    stroke: $immopreis-color;
}
// Hamburg 
#line-mietpreis-Hamburg {
    stroke: $immopreis-color;
}
#line-leerstand-Hamburg {
    stroke: $immopreis-color;
}
#line-immopreis-Hamburg {
    stroke: $immopreis-color;
}
// Koeln
#line-mietpreis-Koeln {
    stroke: $immopreis-color;
}
#line-leerstand-Koeln {
    stroke: $immopreis-color;
}
#line-immopreis-Koeln {
    stroke: $immopreis-color;
}
// Muenchen
#line-mietpreis-Muenchen {
    stroke: $immopreis-color;
}
#line-leerstand-Muenchen {
    stroke: $immopreis-color;
}
#line-immopreis-Muenchen {
    stroke: $immopreis-color;
}