@import './variables.scss';

.line-mietpreis {
    fill: none;
    stroke: $mietpreis-color;
    stroke-width: 2;
    z-index: 7;
}

.line-leerstand {
    fill: none;
    stroke: $leerstand-color;
    stroke-width: 2;
    z-index: 7;
}

.line-immopreis {
    fill: none;
    stroke: $immopreis-color;
    stroke-width: 2;
    z-index: 7;
}
.x_axis {
    stroke: black;
    stroke-width: 1;
  }
  
.y_axis {
    stroke: black;
    stroke-width: 1;
}

.compare-line-mietpreis {
    fill: none;
    stroke-width: 2;
}

.compare-line-leerstand {
    fill: none;
    stroke-dasharray: 10;
    stroke-width: 2;
}

.compare-line-immopreis {
    fill: none;
    stroke-dasharray: 3;
    stroke-width: 2;
}