$main-color: white;
$secondary-color: white;

$map-tile-color: #e0e0e0;

$map-de-tile-color: darkgrey;
$map-de-nrw-tile-color: lightgreen;

$background-color: #e0e0e0;

$leerstand-color: #26704b;
$immopreis-color: #eb3b5a;
$mietpreis-color: #3867d6;

$tooltip-color: black;
$tooltip-background-color: black;
$tooltip-fontsize: 15px;
$tooltip-family: sans-serif;

$boder-color: black;

//$primary-design-color: #4393D9;
$primary-design-color: #002054;