$main-color: white;
$secondary-color: white;

$map-tile-color: #e0e0e0;

$background-color: #e0e0e0;


$tooltip-color: black;

$leerstand-color: green;
$immopreis-color: red;
$mietpreis-color: blue;

$tooltip-fontsize: 15px;