$main-color: white;
$secondary-color: white;

$map-tile-color: #f0f0f0;

$map-de-tile-color: darkgrey;
$map-de-nrw-tile-color: #002054;

$background-color: #e0e0e0;

$leerstand-color: #26704b;
$immopreis-color: #eb3b5a;
$mietpreis-color: #3867d6;

$tooltip-color: #000000;
$tooltip-background-color: black;
$tooltip-fontsize: 20px;
$tooltip-family: sans-serif;

$border-color: black;

//$primary-design-color: #4393D9;
$primary-design-color: #002054;

$button-toggle-off: #f5f5f5;
$button-toggle-deactivated: #969696;