@import '../../../styles/variables.scss';

.footer-wrapper {
    background-color: $primary-design-color;
    padding:2px;
    color:white;
    height: 25px;
}

#quellen {
    display:flex;
    position: absolute;
    margin-left: 10px;
}

a {
    text-decoration: underline;
    color: white;
}

a:visited {
    color: #9fbded;
}

a:hover {
    color: #eb3b5a;
}

#team {
    display:flex;
    position: absolute;
    right: 60px;
}