.panel-container-wrapper {
    height: 100%;
    max-height: 100%;
}

app-panel-control {
    margin-bottom: 30px;
}

app-panel-overview{
    overflow-y: scroll;
    overflow-x: hidden;
}

.conditional-wrapper {
    height: 100%;
    max-height: 770px;
    overflow-y: scroll;
    overflow-x: hidden;
}