@import '../../../styles/variables.scss';

.panel-control-button {
    border-radius: 5px;
    min-height: 20px;
    min-width: 60px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: $button-toggle-off;
    border-color: $primary-design-color;
  }

.control-wrapper {
    height: 90%;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: $border-color;
}

.radio-control {
    margin-left: 5px;
    margin-right: 5px;
}

.filter-control-buttons {
    margin-top: 20px;
}

.panel-filter-button {
    border-radius: 5px;
    min-height: 20px;
    min-width: 60px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: $button-toggle-off;
    border-color: $primary-design-color;
  }

  .main-control-buttons {
      margin-top: 15px;
  }