/* You can add global styles to this file, and also import other style files */
@import './styles/variables.scss';

.line-mietpreis {
    fill: none;
    stroke: $mietpreis-color;
    stroke-width: 2;
    z-index: 7;
}

.line-leerstand {
    fill: none;
    stroke: $leerstand-color;
    stroke-width: 2;
    z-index: 7;
}

.line-immopreis {
    fill: none;
    stroke: $immopreis-color;
    stroke-width: 2;
    z-index: 7;
}
.x_axis {
    stroke: black;
    stroke-width: 1;
  }
  
.y_axis {
    stroke: black;
    stroke-width: 1;
}

.map path {
    fill: $map-tile-color;
    stroke: black;
    stroke-width: 0.5;
}

.map-de path {
    fill: $map-de-tile-color;
    stroke: $map-de-tile-color;
    stroke-width: 0.5;
}

.map-de-nrw path {
    fill: $map-de-nrw-tile-color;
    stroke: $map-de-nrw-tile-color;
    stroke-width: 0.5;
}

.map-tooltip {
    fill: $tooltip-color;
    font-size: $tooltip-fontsize;
}

app-root {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

html {
    overflow: hidden;
}