/* You can add global styles to this file, and also import other style files */
@import './styles/variables.scss';

.line-mietpreis {
    fill: none;
    stroke: $mietpreis-color;
    stroke-width: 2;
    z-index: 7;
}

.line-leerstand {
    fill: none;
    stroke: $leerstand-color;
    stroke-width: 2;
    z-index: 7;
}

.line-immopreis {
    fill: none;
    stroke: $immopreis-color;
    stroke-width: 2;
    z-index: 7;
}
.x_axis {
    stroke: black;
    stroke-width: 1;
  }
  
.y_axis {
    stroke: black;
    stroke-width: 1;
}

.map path {
    fill: $map-tile-color;
    stroke: black;
    stroke-width: 0.5;
}

.map-de path {
    fill: $map-de-tile-color;
    stroke: $map-de-tile-color;
    stroke-width: 0.5;
}

.map-de-nrw path {
    fill: $map-de-nrw-tile-color;
    stroke: $map-de-nrw-tile-color;
    stroke-width: 0.5;
}

.map-tooltip {
    fill: $tooltip-color;
    font-size: $tooltip-fontsize;
}

#mietpreis-tooltip {
    position: absolute;
    width: 200px;
    height: auto;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

#mietpreis-tooltip.hidden {
    display: none;
}

#mietpreis-tooltip p {
    margin: 0;
    font-family: $tooltip-family;
    font-size: $tooltip-fontsize;
    line-height: 20px;
}

#leerstand-tooltip {
    position: absolute;
    width: 200px;
    height: auto;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

#leerstand-tooltip.hidden {
    display: none;
}

#leerstand-tooltip p {
    margin: 0;
    font-family: $tooltip-family;
    font-size: $tooltip-fontsize;
    line-height: 20px;
}

#immopreis-tooltip {
    position: absolute;
    width: 200px;
    height: auto;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

#immopreis-tooltip.hidden {
    display: none;
}

#immopreis-tooltip p {
    margin: 0;
    font-family: $tooltip-family;
    font-size: $tooltip-fontsize;
    line-height: 20px;
}

app-root {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0!important;
}

html {
    overflow: hidden;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
