@import '../styles/variables.scss';

.main .as-split-gutter {
    height: auto!important;
    background-color: grey;
}

.main {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.content-wrapper {
    height: 100%;
}

app-panel-container {
    height: 100%;
}

app-header {
    background-color: $background-color;
}

app-footer {
    background-color: $background-color;
    position: fixed;
    bottom: 0;
    width: 100vw;
}

app-panel-container {
    height: 100%;
}